@use "../../styles/colors.scss" as *;
@use "../../styles/sizes.scss" as *;

.nav-bar {
  position: relative;
  width: 100vw;
  padding: 20px max($header-padding, $header-min-padding) 20px
    max(calc($header-padding - $header-menu-width - $header-gap), $header-min-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 2px 0px #0000001a;
  height: 84px;

  .header,
  .navigation,
  .user {
    display: flex;
    align-items: center;
  }

  .header,
  .navigation {
    gap: $header-gap;
  }

  .header {
    .menu {
      width: $header-menu-width;
      cursor: pointer;
      transition: 0.2s opacity;

      &:hover {
        opacity: 0.9;
      }

      &:active {
        opacity: 0.7;
      }
    }

    .logo {
      width: 90px;
    }
  }

  .navigation {
    .option {
      cursor: pointer;
      transition: 0.2s opacity;
      border-bottom: 2px solid transparent;

      &.active {
        color: $primary-color;
        text-decoration: underline;
        text-underline-offset: 3px;
      }

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.7;
      }
    }
  }

  .user {
    gap: 4px;

    .bold {
      font-weight: 700;
    }
  }
}

@media only screen and (max-width: 800px) {
  .nav-bar {
    .user {
      display: none;
    }
  }
}

@media only screen and (max-width: 650px) {
  .nav-bar {
    .header {
      .menu {
        left: auto;
        position: relative;
      }
    }

    .navigation {
      display: none;
    }
  }
}
