<ds-nav-bar [userName]="store.userName()" (logout)="onLogout()"></ds-nav-bar>

<div class="user-clients-page">
  <div class="content">
    <div class="list-header">
      <div class="title">Clientes selecionados:</div>
    </div>
    <div class="list">
      @for(client of store.clients(); track client.id; let position = $index) {
      <ds-card
        class="card"
        [name]="client.name"
        [salary]="client.salary"
        [companyValuation]="client.companyValuation"
        (unselect)="store.removeClient(position)"
      ></ds-card>
      }
    </div>
    <ds-button
      class="button"
      (click)="store.resetClients()"
      size="medium"
      type="outline"
      >Limpar clientes selecionados</ds-button
    >
  </div>
</div>
