<div class="card">
  <div class="content">
    <span class="name">{{ name }}</span>
    <span class="text">Salário: {{ salary | currency : "R$" }} </span>
    <span class="text">Empresa: {{ companyValuation | currency : "R$" }} </span>
  </div>
  <div class="options">
    @if(readOnly) {
    <div class="option" (click)="unselect.emit()">
      <img src="http://localhost:4201/images/minus.png" alt="" />
    </div>
    } @else {
    <div class="option" (click)="add.emit()">
      <img src="http://localhost:4201/images/plus.png" alt="" />
    </div>
    <div class="option" (click)="edit.emit()">
      <img src="http://localhost:4201/images/pencil.png" alt="" />
    </div>
    <div class="option" (click)="remove.emit()">
      <img src="http://localhost:4201/images/trash.png" alt="" />
    </div>
    }
  </div>
</div>
