<div class="card">
  <div class="content">
    <span class="name">{{ name }}</span>
    <span class="text">Salário: {{ salary | currency : "R$" }} </span>
    <span class="text">Empresa: {{ companyValuation | currency : "R$" }} </span>
  </div>
  <div class="options">
    @if(readOnly) {
    <div *ngIf="assetsUrl" class="option" (click)="unselect.emit()">
      <img src="{{ assetsUrl }}/images/minus.png" alt="" />
    </div>
    } @else {
    <div *ngIf="assetsUrl" class="option" (click)="add.emit()">
      <img src="{{ assetsUrl }}/images/plus.png" alt="" />
    </div>
    <div *ngIf="assetsUrl" class="option" (click)="edit.emit()">
      <img src="{{ assetsUrl }}/images/pencil.png" alt="" />
    </div>
    <div *ngIf="assetsUrl" class="option" (click)="remove.emit()">
      <img src="{{ assetsUrl }}/images/trash.png" alt="" />
    </div>
    }
  </div>
</div>
