@use "../../styles/colors.scss" as *;

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  color: #000000;
  transition: 0.2s opacity;
  font-weight: 700;
  cursor: pointer;

  &.solid {
    &.orange {
      background-color: $primary-color;
      color: #ffffff;
    }
  }

  &.outline {
    border: solid 1px black;

    &.orange {
      border-color: $primary-color;
      color: $primary-color;
    }
  }

  &.large {
    padding: 16px 20px;
    font-size: 24px;
  }

  &.medium {
    padding: 12px 16px;
    font-size: 14px;
  }

  &.small {
    padding: 8px 12px;
    font-size: 12px;
  }

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.7;
  }

  &:disabled {
    background-color: $light-grey !important;
    cursor: default !important;

    &:hover {
      opacity: 1 !important;
    }

    &:active {
      opacity: 1 !important;
    }
  }
}
