<div class="select-container" [class.active]="isActive">
  <div class="input-container" (click)="onToggleOptions()">
    <input [value]="valueSelected" readonly class="input" />
    <img
      src="http://localhost:4201/images/angle-down.png"
      alt="Arrow poiting down icon"
      class="icon"
    />
    <div class="options">
      @for(option of options; track $index) {
      <div (click)="onOptionSelected(option)" class="option">
        {{ option.label }}
      </div>
      }
    </div>
  </div>
</div>
