<div class="clients-page">
  <div class="content">
    <div class="list-header">
      <div class="section">
        <span class="value">{{ store.clients().length }}</span> clientes
        encontrados
      </div>
      <div class="section">
        Clientes por página:
        <ds-select
          [value]="store.pagination().limit"
          [options]="pageLimitOptions"
          (selection)="onPageLimitSelected($event)"
        ></ds-select>
      </div>
    </div>
    <div class="list">
      @for(client of store.clients(); track client.id) {
      <ds-card
        class="card"
        [name]="client.name"
        [salary]="client.salary"
        [companyValuation]="client.companyValuation"
      ></ds-card>
      }
    </div>
    <ds-button
      class="button"
      (click)="onCreateClient()"
      size="medium"
      type="outline"
      >Criar cliente</ds-button
    >
    <ds-paginator
      class="paginator"
      [currentPage]="store.pagination().page"
      [totalPages]="store.pagination().totalPages"
      (pageChange)="onPageSelected($event)"
    ></ds-paginator>
  </div>
</div>

<ds-modal-container
  *ngIf="addClientModalActive"
  (close)="onCloseAddClientModal()"
>
  <div class="form">
    <h4 class="title">Criar cliente</h4>
    <div class="fields">
      <ds-field
        [control]="clientForm.controls.name"
        placeholder="Digite o nome:"
        size="medium"
      ></ds-field>
      <ds-field
        [control]="clientForm.controls.salary"
        placeholder="Digite o salário:"
        size="medium"
      ></ds-field>
      <ds-field
        [control]="clientForm.controls.companyValuation"
        placeholder="Digite o valor da empresa:"
        size="medium"
      ></ds-field>
    </div>
    <ds-button
      (click)="onSubmitCreateClient()"
      [disabled]="clientForm.invalid"
      size="medium"
      >Criar cliente</ds-button
    >
  </div>
</ds-modal-container>
