<ds-nav-bar
  [userName]="store.userName()"
  (logout)="onLogout()"
  (openMenu)="onOpenSideBar()"
></ds-nav-bar>

<div class="clients-page">
  <div class="content">
    <div class="list-header">
      <div class="section">
        <span class="value">{{ store.clients().length }}</span> clientes
        encontrados
      </div>
      <div class="section">
        Clientes por página:
        <ds-select
          [value]="store.pagination().limit"
          [options]="pageLimitOptions"
          (selection)="onPageLimitSelected($event)"
        ></ds-select>
      </div>
    </div>
    <div class="list">
      @for(client of store.clients(); track client.id) {
      <ds-card
        class="card"
        [name]="client.name"
        [salary]="client.salary"
        [readOnly]="false"
        [companyValuation]="client.companyValuation"
        (unselect)="store.unselectClient(client)"
        (remove)="onDeleteClient(client)"
        (edit)="onEditClient(client)"
        (add)="store.addClient(client)"
        [selected]="store.isSelected(client.id)"
      ></ds-card>
      }
    </div>
    <ds-button
      class="button"
      (click)="onCreateClient()"
      size="medium"
      type="outline"
      >Criar cliente</ds-button
    >
    <ds-paginator
      class="paginator"
      [currentPage]="store.pagination().page"
      [totalPages]="store.pagination().totalPages"
      (pageChange)="onPageSelected($event)"
    ></ds-paginator>
  </div>
</div>

<ds-modal-container
  *ngIf="deleteClientModalActive && store.selectedClient()"
  (close)="onCloseDeleteClientModal()"
>
  <div class="confirmation-card">
    <h4 class="title">Excluir cliente</h4>
    <p>
      Você está prestes a excluir o cliente:
      <span class="bold">{{ store.selectedClient()?.name }}</span>
    </p>
    <ds-button (click)="onSubmitDeleteClient()" size="medium"
      >Excluir cliente</ds-button
    >
  </div>
</ds-modal-container>

<ds-modal-container
  *ngIf="addClientModalActive"
  (close)="onCloseAddClientModal()"
>
  <div class="form">
    <h4 class="title">Criar cliente</h4>
    <div class="fields">
      <ds-field
        [control]="clientForm.controls.name"
        placeholder="Digite o nome:"
        size="medium"
      ></ds-field>
      <ds-field
        [control]="clientForm.controls.salary"
        placeholder="Digite o salário:"
        size="medium"
        type="number"
      ></ds-field>
      <ds-field
        [control]="clientForm.controls.companyValuation"
        placeholder="Digite o valor da empresa:"
        size="medium"
        type="number"
      ></ds-field>
    </div>
    <ds-button
      (click)="onSubmitCreateClient()"
      [disabled]="clientForm.invalid"
      size="medium"
      >Criar cliente</ds-button
    >
  </div>
</ds-modal-container>

<ds-modal-container
  *ngIf="editClientModalActive"
  (close)="onCloseEditClientModal()"
>
  <div class="form">
    <h4 class="title">Editar cliente</h4>
    <div class="fields">
      <ds-field
        [control]="clientForm.controls.name"
        placeholder="Digite o nome:"
        size="medium"
      ></ds-field>
      <ds-field
        [control]="clientForm.controls.salary"
        type="number"
        placeholder="Digite o salário:"
        size="medium"
      ></ds-field>
      <ds-field
        [control]="clientForm.controls.companyValuation"
        type="number"
        placeholder="Digite o valor da empresa:"
        size="medium"
      ></ds-field>
    </div>
    <ds-button
      (click)="onSubmitEditClient()"
      [disabled]="clientForm.invalid"
      size="medium"
      >Editar cliente</ds-button
    >
  </div>
</ds-modal-container>

<ds-side-bar
  [active]="isSideBarActive"
  (activeChange)="onSideBarActiveChange($event)"
></ds-side-bar>
